body {
  background-color: #FA58AC;
  margin: 1em 1em 1em 1em;
  padding: 0 1em 0 1em;
}
.center {
  text-align: center;
}
#border {
  display: inline-block;
  border: 9px solid black;
  float: left
}
h1 {
  border:10px solid #D0FA58;
  padding: 0 1em 0 1em;
  background-color: #81F7BE;
}
h2 {
  text-decoration: underline;
}
h4 {
  text-decoration: underline;
}
p {
  padding: 1em;
}
p span {
  font-size: 18px;
  font-family: cursive;
  font-weight: bold;
  border: 10px solid black;
  padding: 0 1em 0 1em;
}
p p span {
  font-weight: bold;
}
#left {
  display: inline-block;
  position: absolute;
  right: 50%;
  padding: 1em;
  border: 9px solid black;
}
#right {
  display: inline-block;
  position: absolute;
  left: 50%;
  padding: 1em;
}
#table{
  border: 5px dotted black;
  border-width: 10px;
  border
}
#clear {
  display: block;
  position: absolute;
  bottom: 10px;
  top: 700px;
}